@model List<Order>

@if (Model == null)
{
    <div class="empty-wishlist">
        <i class="fas fa-heart-broken"></i>
        <h2>No One Buy Your Products Until Now</h2>
    </div>
}
else
{
    <div>
    <partial name="RequestProductsPartial" model="Model" />
    <div style="text-align: center; margin-top: 20px;">
        <button class="btn btn-primary" onclick="window.location.href='/Dashboard/DashBoard'">
            Back To Dashboard
        </button>
    </div>
    </div>
}