
@model User

<form asp-action="ShowUserInfo" method="post" class="user-form">
    <input type="hidden" asp-for="Id" />
    <h2 style="text-align:center">My Profile</h2>
    <div class="form-group">
        <label>Name</label>
        <input asp-for="UserName" class="form-control" />
    </div>

    <div class="form-group">
        <label>Address</label>
        <input asp-for="Address" class="form-control" />
    </div>

    <div class="form-group">
        <label>EmailAddress</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="ChangePassword" asp-controller="Profile" class="btn btn-secondary">Change Password</a>
</form>
