<style>
    .form-group {
        margin-bottom: 1.5rem;
    }

    .form-label {
        font-weight: bold;
        margin-bottom: 0.5rem;
        display: block;
    }

    h2 {
        margin-top: 50px;
    }

    .form-footer {
        margin-bottom: 100px;
    }
</style>

@model List<Variation>

@{
    ViewBag.Title = "Add Variation Options";
    Layout = "_Layout";
}
@{
    bool isAdmin = ViewBag.IsAdmin == true;
}
<div class="container mt-5 mb-5 form-footer">
    <h2>Add Variation Options</h2>
    <form asp-action="AddVariationOptionsToSelledProductByUser" method="post">
        <input type="hidden" name="ProductId" value="@ViewBag.ProductID" />

        @foreach (var variation in Model)
        {
            <div class="form-group mb-4">
                <label class="form-label">@variation.Name</label>
                <select class="custom-select" name="SelectedOptions">
                    <option value="">-- Select an option --</option>
                    @foreach (var option in variation.VariationOptions)
                    {
                        <option value="@option.Id">@option.Value</option>
                    }
                </select>
            </div>
        }
        <div class="form-group mb-4">
            <label class="form-label">Quantity</label>
            <input type="number" class="custom-select" name="Quantity" min="1" value="1" required />
        </div>

        <div class="button-group">
            <button type="submit" class="btn btn-primary">Add Product Item</button>
            @if (!isAdmin)
            {
                <a asp-controller="Product" asp-action="ShowAllProductsSelledBySpecificUser" class="btn btn-secondary">Back to Dashboard</a>
            }
        </div>
    </form>
</div>